.body{
    background-color: rgb(33, 85, 33);
    color: white;
}
.text{
    color: white;
    background-color: black;
    border: 0px auto;
    border-width: 50px;
    text-align: center;
    border-bottom: 50px;
}
.text2{
    border-color: red;
    border: 10px solid black;
}
.text3{
    color: black;
    background-color: aquamarine;
}
.text4{
    background-color: 10px black;
    border: 5px solid red;
}